openapi: 3.1.0

info:
  title: Qeet Logs API
  version: "2.0"
  description: |
    Privacy-first, multi-tenant observability platform — logs, metrics, and traces.

    ## Authentication
    All endpoints except `/healthz`, `/readyz`, `/version`, and `/shared/**` require
    authentication via `X-Qeet-Api-Key` header **or** a Bearer JWT issued by Qeet ID.

    ## Servers
    | Purpose | Production | Local |
    |---|---|---|
    | Query / Admin API | `api.logs.qeet.in` | `localhost:8100` |
    | Ingest gateway | `ingest.logs.qeet.in` | `localhost:8101` |
    | OTLP/HTTP | `ingest.logs.qeet.in` | `localhost:4318` |

    ## RBAC scopes
    | Scope | Grants |
    |---|---|
    | `logs:ingest` | Write log records, metrics, traces, change events |
    | `logs:read` | Query stored records, tail, topology, timeline, incidents |
    | `logs:query` | Same as `logs:read` (alias) |
    | `logs:admin` | Admin operations — API keys, transforms, erasure, dashboards |
    | `logs:platform` | Cross-tenant operations (Qeet operators only) |
  contact:
    name: Qeet Group
    url: https://qeet.in
  license:
    name: Proprietary

servers:
  - url: https://api.logs.qeet.in
    description: Production — query & admin
  - url: https://ingest.logs.qeet.in
    description: Production — ingest gateway
  - url: http://localhost:8100
    description: Local dev — query API
  - url: http://localhost:8101
    description: Local dev — ingest gateway

security:
  - ApiKey: []
  - BearerJWT: []

# ── Components ───────────────────────────────────────────────────────────────

components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Qeet-Api-Key
      description: Tenant API key issued by the Qeet Logs console.
    BearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Qeet ID OIDC access token.

  schemas:

    # ── Ingest ────────────────────────────────────────────────────────────────

    IngestRecord:
      type: object
      required: [service, message]
      description: |
        Single log record sent to `POST /v1/ingest`. Recognised fields are
        promoted to typed columns; any extra top-level keys are stored in the
        structured `body` JSON column. Remap transforms are applied before storage.
      properties:
        timestamp:
          type: string
          format: date-time
          description: Defaults to ingest time when omitted.
        service:
          type: string
        level:
          type: string
          enum: [trace, debug, info, warn, error, fatal]
          default: info
        message:
          type: string
          description: Human-readable log message (the canonical text column).
        trace_id:
          type: string
        span_id:
          type: string
        environment:
          type: string
        user_id:
          type: string
          description: Pseudonymised before storage; never stored raw.
        git_sha:
          type: string
        deploy_id:
          type: string
        pr_number:
          type: string
        k8s_namespace:
          type: string
        k8s_pod:
          type: string
        k8s_node:
          type: string

    MetricIngestRecord:
      type: object
      required: [metric_name, value, service]
      description: Single metric data point for `POST /v1/metrics` (JSON body).
      properties:
        metric_name:
          type: string
        metric_type:
          type: string
          enum: [gauge, sum, histogram, exponential_histogram, summary]
          default: gauge
        service:
          type: string
        environment:
          type: string
        value:
          type: number
          format: double
        count:
          type: integer
          format: int64
          description: Histogram sample count.
        sum:
          type: number
          format: double
          description: Histogram sum.
        timestamp:
          type: string
          format: date-time
        attributes:
          type: object
          additionalProperties:
            type: string

    SpanIngestRecord:
      type: object
      required: [trace_id, span_id, service, name, start_time_unix_nano, end_time_unix_nano]
      description: Single span for `POST /v1/traces` (JSON body).
      properties:
        trace_id:
          type: string
        span_id:
          type: string
        parent_span_id:
          type: string
        service:
          type: string
        environment:
          type: string
        name:
          type: string
        kind:
          type: string
          enum: [unspecified, internal, server, client, producer, consumer]
        status_code:
          type: string
          enum: [unset, ok, error]
        start_time_unix_nano:
          type: integer
          format: int64
        end_time_unix_nano:
          type: integer
          format: int64
        attributes:
          type: object
          additionalProperties:
            type: string
        resource:
          type: object
          additionalProperties: true

    IngestResponse:
      type: object
      properties:
        accepted:
          type: integer
          format: int64
        dropped:
          type: integer
          format: int64
        errors:
          type: integer
          format: int64

    # ── Query responses ───────────────────────────────────────────────────────

    LogEntry:
      type: object
      description: Stored log record returned by the query API.
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        service:
          type: string
        environment:
          type: string
        level:
          type: string
        message:
          type: string
          description: Canonical log message text.
        body:
          type: string
          description: Structured JSON string of remaining extra fields.
        trace_id:
          type: string
        span_id:
          type: string
        git_sha:
          type: string
        deploy_id:
          type: string
        k8s_namespace:
          type: string
        k8s_pod:
          type: string
        k8s_node:
          type: string

    QueryResponse:
      type: object
      properties:
        columns:
          type: array
          items:
            type: string
        count:
          type: integer
        rows:
          type: array
          items:
            type: object
            additionalProperties: true

    # ── PromQL ────────────────────────────────────────────────────────────────

    PromResponse:
      type: object
      description: Prometheus HTTP API envelope (compatible with Grafana data source).
      properties:
        status:
          type: string
          enum: [success, error]
        data:
          type: object
          properties:
            resultType:
              type: string
              enum: [vector, matrix]
            result:
              type: array
              items:
                type: object

    # ── Change events ─────────────────────────────────────────────────────────

    ChangeEvent:
      type: object
      required: [kind, service]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        kind:
          type: string
          enum: [deploy, flag, config, rollback]
        service:
          type: string
        environment:
          type: string
        git_sha:
          type: string
        deploy_id:
          type: string
        pr_number:
          type: string
        flag_key:
          type: string
        config_diff:
          type: string
        author:
          type: string
        metadata:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
          readOnly: true

    # ── Topology ──────────────────────────────────────────────────────────────

    TopologyNode:
      type: object
      properties:
        service:
          type: string
        call_count:
          type: integer
          format: int64
        error_count:
          type: integer
          format: int64
        coverage:
          type: string
          enum: [full, traces-only, logs-only]

    TopologyEdge:
      type: object
      properties:
        caller:
          type: string
        callee:
          type: string
        call_count:
          type: integer
          format: int64
        error_count:
          type: integer
          format: int64
        p95_ms:
          type: number
          format: double

    TopologyGraph:
      type: object
      properties:
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/TopologyNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/TopologyEdge'
        focus:
          type: string
          description: Service that blast-radius was scoped to, if `service=` was given.
        blast_radius:
          type: array
          items:
            type: string
          description: Transitive upstream callers of `focus`.

    # ── Timeline ──────────────────────────────────────────────────────────────

    TimelineEvent:
      type: object
      properties:
        kind:
          type: string
          enum: [log, span, deploy]
        timestamp:
          type: string
          format: date-time
        service:
          type: string
        level:
          type: string
        message:
          type: string
        trace_id:
          type: string
        span_id:
          type: string
        duration_ms:
          type: number
          format: double
        status_code:
          type: string
        deploy_id:
          type: string
        git_sha:
          type: string

    # ── Incidents ─────────────────────────────────────────────────────────────

    Incident:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        fingerprint:
          type: string
        title:
          type: string
        service:
          type: string
        severity:
          type: string
          enum: [low, medium, high, critical]
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
        status:
          type: string
          enum: [open, resolved]
        signal_count:
          type: integer
        paged:
          type: boolean
        deploy_id:
          type: string
          nullable: true
        correlated_rules:
          type: array
          items:
            type: string
        opened_at:
          type: string
          format: date-time
        last_seen:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true

    # ── RCA ───────────────────────────────────────────────────────────────────

    RCACandidate:
      type: object
      properties:
        kind:
          type: string
          enum: [deploy, dependency]
        score:
          type: number
          format: double
          description: Relevance score 0–1 (higher = more likely root cause).
        service:
          type: string
        deploy_id:
          type: string
        git_sha:
          type: string
        evidence:
          type: object
          description: Supporting signals (timestamps, error counts, p95, etc.)
          additionalProperties: true

    RCAResult:
      type: object
      properties:
        service:
          type: string
        since:
          type: string
          format: date-time
        candidates:
          type: array
          items:
            $ref: '#/components/schemas/RCACandidate'

    # ── Dashboard overlays ────────────────────────────────────────────────────

    OverlayMarker:
      type: object
      properties:
        kind:
          type: string
          enum: [deploy, incident_open, incident_resolved]
        timestamp:
          type: string
          format: date-time
        service:
          type: string
        label:
          type: string
        meta:
          type: object
          additionalProperties: true

    # ── DPDP Erasure ──────────────────────────────────────────────────────────

    ErasureRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        user_linkage_key:
          type: string
          description: Pseudonymous key that links records to a data subject.
        time_from:
          type: string
          format: date-time
          description: Optional time-range lower bound (RFC 3339).
        time_to:
          type: string
          format: date-time
          description: Optional time-range upper bound (RFC 3339).
        status:
          type: string
          enum: [pending, completed, failed]
          readOnly: true
        receipt:
          type: object
          description: ClickHouse mutation IDs and row counts per table.
          readOnly: true
          additionalProperties: true
        requested_at:
          type: string
          format: date-time
          readOnly: true
        completed_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true

    # ── NL Query ──────────────────────────────────────────────────────────────

    NLQueryRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          description: Free-text question in natural language.
          example: "Show me all errors from the payments service in the last hour"

    NLQueryResponse:
      type: object
      properties:
        loqlpp:
          type: string
          description: Generated LogQL++ query — inspectable and editable before execution.
        explanation:
          type: string
          description: Human-readable explanation of what the query does and why.

    # ── Transform (remap engine) ───────────────────────────────────────────────

    TransformProgram:
      type: object
      properties:
        program:
          type: string
          description: |
            VRL-inspired remap program applied to every event before storage.
            Statements: `set .field = expr`, `del .field`, `redact .field`,
            `rename .old .new`, functions: `to_string/to_int/to_float/upcase/downcase/concat/coalesce`.
            Conditionals: `if .field == "val" set .other = expr`.
            Routing: `if .level == "error" route "traces"`.
            Hard cap: 200 statements. Fail-open (bad statements skipped, never drops events).
        version:
          type: integer
          readOnly: true
        enabled:
          type: boolean

    # ── Shared dashboard (public) ─────────────────────────────────────────────

    SharedDashboard:
      type: object
      properties:
        name:
          type: string
        panels:
          type: array
          items:
            $ref: '#/components/schemas/DashboardPanel'

    # ── Existing schemas ──────────────────────────────────────────────────────

    AlertRule:
      type: object
      required: [name, kind, query, threshold_count, window_minutes, channels]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        kind:
          type: string
          enum: [threshold, absence]
        query:
          type: string
          description: LogQL++ filter expression evaluated by the alerter.
        threshold_count:
          type: integer
          description: Fire if count exceeds (threshold) or equals 0 (absence) in the window.
        window_minutes:
          type: integer
        service:
          type: string
          description: Scope rule to a specific service. Omit for tenant-wide.
          nullable: true
        channels:
          type: array
          items:
            $ref: '#/components/schemas/AlertChannel'
        created_at:
          type: string
          format: date-time
          readOnly: true

    AlertChannel:
      type: object
      required: [type, target]
      properties:
        type:
          type: string
          enum: [webhook, notify]
        target:
          type: string

    RetentionConfig:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        retention_days:
          type: integer
          minimum: 1
          maximum: 365
        pii_mask_fields:
          type: object
          additionalProperties:
            type: string
            enum: [mask, hash, drop_field, drop_record]
        updated_at:
          type: string
          format: date-time
          readOnly: true

    APIKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
            enum: [logs:ingest, logs:read, logs:query, logs:admin, logs:platform]
        prefix:
          type: string
          description: First 8 chars of the key for display. Full key returned only on creation.
        key:
          type: string
          description: Present only in CreateAPIKey response. Store it; it cannot be retrieved again.
        created_at:
          type: string
          format: date-time

    Dashboard:
      type: object
      required: [name]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        panels:
          type: array
          items:
            $ref: '#/components/schemas/DashboardPanel'
        share_token:
          type: string
          description: Present after `POST /v1/admin/dashboards/{id}/share`.
          nullable: true
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true

    DashboardPanel:
      type: object
      required: [id, kind, title, query]
      properties:
        id:
          type: string
        kind:
          type: string
          enum: [line, bar, table, stat]
        title:
          type: string
        query:
          type: string
          description: LogQL++ or PromQL query string rendered by this panel.

    SavedSearch:
      type: object
      required: [name, query]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        query:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true

    QuotaUsage:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        events:
          type: integer
          format: int64
        bytes_stored:
          type: integer
          format: int64
        retention_days:
          type: integer

    DLQEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        payload:
          type: object
        error_msg:
          type: string
        attempt:
          type: integer
        status:
          type: string
          enum: [pending, replayed, dropped]
        created_at:
          type: string
          format: date-time
        replayed_at:
          type: string
          format: date-time
          nullable: true

    AuditEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        actor:
          type: string
        action:
          type: string
        resource:
          type: string
        resource_id:
          type: string
        status:
          type: string
          enum: [ok, denied, error]
        ip:
          type: string
        user_agent:
          type: string
        created_at:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string

# ── Paths ─────────────────────────────────────────────────────────────────────

paths:

  # ── Health ─────────────────────────────────────────────────────────────────

  /healthz:
    get:
      summary: Liveness probe
      security: []
      tags: [Health]
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }

  /readyz:
    get:
      summary: Readiness probe — checks Postgres, Redis, ClickHouse, NATS
      security: []
      tags: [Health]
      responses:
        "200":
          description: All dependencies reachable
        "503":
          description: One or more dependencies unavailable

  /version:
    get:
      summary: Binary version
      security: []
      tags: [Health]
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string }

  # ── Ingest — logs ──────────────────────────────────────────────────────────

  /v1/ingest:
    post:
      summary: Ingest a single log record
      description: |
        Accepts a flat JSON object. Recognised fields are promoted to typed columns;
        all other top-level keys are stored in the structured `body` column.
        Remap transforms are applied before storage (Module 04.2).
        Requires `logs:ingest` scope.
      tags: [Ingest — Logs]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestRecord'
            example:
              service: payments
              level: error
              message: "stripe webhook signature mismatch"
              trace_id: "4bf92f3577b34da6a3ce929d0e0e4736"
              request_id: "req_xyz"
      responses:
        "202":
          description: Accepted for async write
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResponse' }
        "400":
          description: Invalid JSON
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Missing or invalid API key }
        "403": { description: Missing logs:ingest scope }
        "429": { description: Rate limit exceeded }

  /v1/ingest/batch:
    post:
      summary: Ingest a batch of log records (NDJSON)
      description: |
        Each line is a flat JSON object (same shape as `/v1/ingest`).
        Empty lines are skipped. Per-line parse errors are counted in `errors` but
        do not abort the batch. Requires `logs:ingest` scope.
      tags: [Ingest — Logs]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
      requestBody:
        required: true
        content:
          application/x-ndjson:
            schema:
              type: string
              description: Newline-delimited JSON — one IngestRecord per line.
            example: |
              {"service":"api","level":"info","message":"request processed"}
              {"service":"api","level":"warn","message":"slow query","duration_ms":850}
      responses:
        "202":
          description: Batch processed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IngestResponse' }
        "401": { description: Unauthorized }
        "403": { description: Missing logs:ingest scope }
        "429": { description: Rate limit exceeded }

  /v1/ingest/gelf:
    post:
      summary: Ingest a GELF log record
      description: |
        Accepts a Graylog Extended Log Format (GELF) JSON payload.
        `_`-prefixed custom fields are extracted as attributes.
        Requires `logs:ingest` scope.
      tags: [Ingest — Logs]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: GELF payload (see graylog.org/gelf spec).
      responses:
        "202": { description: Accepted }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  /v1/ingest/syslog:
    post:
      summary: Ingest an RFC 5424 syslog message
      description: |
        Accepts a raw RFC 5424 syslog line. Structured data is stripped.
        Falls back to raw-line parsing on format errors.
        Requires `logs:ingest` scope.
      tags: [Ingest — Logs]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              example: "<34>1 2024-01-15T10:00:00Z host authd - - - Authentication failure"
      responses:
        "202": { description: Accepted }
        "401": { description: Unauthorized }

  /v1/logs:
    post:
      summary: OTLP/HTTP log export
      description: |
        Accepts `ExportLogsServiceRequest` in JSON (`application/json`) or
        protobuf (`application/x-protobuf`) encoding (Module 02.1).
        Requires `logs:ingest` scope.
      tags: [Ingest — Logs]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
        - url: http://localhost:4318
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: OTLP ExportLogsServiceRequest (JSON encoding).
          application/x-protobuf:
            schema:
              type: string
              format: binary
              description: OTLP ExportLogsServiceRequest (protobuf encoding).
      responses:
        "202": { description: Accepted }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  # ── Ingest — metrics ───────────────────────────────────────────────────────

  /v1/metrics:
    post:
      summary: OTLP/HTTP metric export
      description: |
        Accepts `ExportMetricsServiceRequest` in JSON or protobuf encoding.
        Supports Gauge, Sum, Histogram, ExponentialHistogram, and Summary data types.
        Requires `logs:ingest` scope.
      tags: [Ingest — Metrics]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
        - url: http://localhost:4318
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: OTLP ExportMetricsServiceRequest (JSON encoding).
          application/x-protobuf:
            schema:
              type: string
              format: binary
              description: OTLP ExportMetricsServiceRequest (protobuf encoding).
      responses:
        "202": { description: Accepted }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  /api/v1/write:
    post:
      summary: Prometheus remote_write
      description: |
        Accepts a Prometheus `WriteRequest` (protobuf + Snappy compression).
        `__name__` label → `metric_name`; `job`/`service`/`env` labels mapped
        to canonical columns. Requires `logs:ingest` scope.
      tags: [Ingest — Metrics]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
      requestBody:
        required: true
        content:
          application/x-protobuf:
            schema:
              type: string
              format: binary
              description: Snappy-compressed Prometheus WriteRequest protobuf.
      responses:
        "204": { description: Accepted (no body) }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  # ── Ingest — traces ────────────────────────────────────────────────────────

  /v1/traces:
    post:
      summary: OTLP/HTTP trace export
      description: |
        Accepts `ExportTraceServiceRequest` in JSON or protobuf encoding.
        Tail-based sampling is applied (`TRACE_SAMPLE_RATE`, default 1.0 = lossless);
        error spans and outlier spans exceeding `TRACE_SLOW_MS` are always kept.
        Requires `logs:ingest` scope.
      tags: [Ingest — Traces]
      servers:
        - url: https://ingest.logs.qeet.in
        - url: http://localhost:8101
        - url: http://localhost:4318
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: OTLP ExportTraceServiceRequest (JSON encoding).
          application/x-protobuf:
            schema:
              type: string
              format: binary
              description: OTLP ExportTraceServiceRequest (protobuf encoding).
      responses:
        "202": { description: Accepted }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  # ── Query ──────────────────────────────────────────────────────────────────

  /v1/query:
    get:
      summary: LogQL++ query
      description: |
        Queries stored records across `logs`, `metrics`, `traces`, `auth_events`,
        and `change_events` tables using LogQL++. Returns JSON (default), CSV
        (`?format=csv`), or NDJSON (`?format=ndjson`).
        Tenant predicate is always injected from authenticated identity — never
        from the query string (TAD §7.2). Requires `logs:read` scope.
      tags: [Query]
      parameters:
        - name: q
          in: query
          required: true
          description: LogQL++ expression (e.g. `service="payments" | level="error"`)
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
        - name: services
          in: query
          schema: { type: string, description: Comma-separated service filter. }
        - name: level
          in: query
          schema: { type: string, enum: [trace, debug, info, warn, error, fatal] }
        - name: format
          in: query
          schema: { type: string, enum: [json, csv, ndjson], default: json }
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QueryResponse' }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }
        "403": { description: Missing logs:read scope }

  /v1/query/tail:
    get:
      summary: Live-tail log stream (SSE)
      description: |
        Server-Sent Events stream of real-time log records from Redis pub/sub.
        Each `data:` frame is a JSON-encoded log record.
        Requires `logs:read` scope.
      tags: [Query]
      parameters:
        - name: service
          in: query
          required: true
          schema: { type: string }
        - name: level
          in: query
          schema: { type: string }
      responses:
        "200":
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
                description: Each `data:` line is a JSON-encoded LogEntry.
        "401": { description: Unauthorized }

  /v1/query/nl:
    post:
      summary: Natural-language to LogQL++ (AI-assisted)
      description: |
        Sends a free-text question to `claude-sonnet-5` with full LogQL++ schema
        context and returns a generated query plus explanation. The query is
        inspectable and editable before execution. Returns 501 when
        `ANTHROPIC_API_KEY` is not configured. Requires `logs:read` scope.
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NLQueryRequest' }
      responses:
        "200":
          description: Generated query
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NLQueryResponse' }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }
        "501":
          description: ANTHROPIC_API_KEY not configured
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ── PromQL ─────────────────────────────────────────────────────────────────

  /api/v1/query:
    get:
      summary: PromQL instant query
      description: |
        Prometheus HTTP API compatible instant query over the metrics store.
        Point a Grafana Prometheus data source at `api.logs.qeet.in` and it works
        unchanged. Tenant is always injected from identity (not from query).
        Requires `logs:read` scope.
      tags: [PromQL]
      parameters:
        - name: query
          in: query
          required: true
          description: PromQL expression (e.g. `sum by (service)(rate(http_requests_total[5m]))`)
          schema: { type: string }
        - name: time
          in: query
          description: Evaluation timestamp (Unix seconds or RFC 3339). Defaults to now.
          schema: { type: string }
      responses:
        "200":
          description: Instant vector result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromResponse' }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  /api/v1/query_range:
    get:
      summary: PromQL range query
      description: |
        Prometheus HTTP API compatible range query. Returns a matrix of per-step
        values. Requires `logs:read` scope.
      tags: [PromQL]
      parameters:
        - name: query
          in: query
          required: true
          schema: { type: string }
        - name: start
          in: query
          required: true
          schema: { type: string }
        - name: end
          in: query
          required: true
          schema: { type: string }
        - name: step
          in: query
          description: Step duration in seconds or Prometheus duration string (e.g. `30s`, `5m`).
          schema: { type: string, default: "60" }
      responses:
        "200":
          description: Matrix result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromResponse' }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  # ── Auth events ────────────────────────────────────────────────────────────

  /v1/auth-events:
    get:
      summary: Query Qeet ID auth events
      description: Requires `logs:read` scope.
      tags: [Query]
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
      responses:
        "200":
          description: Auth events
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  rows:
                    type: array
                    items: { type: object, additionalProperties: true }

  # ── Change events ──────────────────────────────────────────────────────────

  /v1/changes:
    post:
      summary: Record a deploy / change event
      description: |
        Stores a typed change event (deploy, flag, config, rollback) used by the
        investigation timeline, RCA, and alert correlation.
        Requires `logs:ingest` scope.
      tags: [Changes]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangeEvent' }
      responses:
        "201":
          description: Change event created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  kind: { type: string }
                  timestamp: { type: string, format: date-time }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

    get:
      summary: List change events
      description: Requires `logs:read` scope.
      tags: [Changes]
      parameters:
        - name: service
          in: query
          schema: { type: string }
        - name: since
          in: query
          schema: { type: string, format: date-time }
        - name: kind
          in: query
          schema: { type: string, enum: [deploy, flag, config, rollback] }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/ChangeEvent' }

  # ── Topology ───────────────────────────────────────────────────────────────

  /v1/topology:
    get:
      summary: Service dependency graph
      description: |
        Derives the topology from cross-service span parent↔child relationships
        (traces) and log-based service inference (multi-signal, Module 10).
        Returns nodes with coverage flags and edges with call/error/p95 stats.
        With `?service=`, also returns a blast-radius (transitive upstream callers).
        Requires `logs:read` scope.
      tags: [Topology]
      parameters:
        - name: since
          in: query
          description: Look-back window in seconds (default 3600).
          schema: { type: integer, default: 3600 }
        - name: service
          in: query
          description: Focus service — blast-radius is computed for this node.
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TopologyGraph' }
        "401": { description: Unauthorized }

  # ── Timeline ───────────────────────────────────────────────────────────────

  /v1/timeline:
    get:
      summary: Unified investigation timeline
      description: |
        Merges logs, spans, and deploy events into a single time-sorted feed
        (Module 09.1/09.2). Two modes:
        - `?trace_id=T` — full cross-signal story for one request
        - `?service=S&since=...` — warn+ logs, error spans, and deploy overlays
          for a service window
        Requires `logs:read` scope.
      tags: [Timeline]
      parameters:
        - name: trace_id
          in: query
          description: Trace ID to focus on (trace-scoped mode).
          schema: { type: string }
        - name: service
          in: query
          description: Service to investigate (window mode).
          schema: { type: string }
        - name: since
          in: query
          description: Window start (RFC 3339). Defaults to 1 hour ago.
          schema: { type: string, format: date-time }
        - name: include_info
          in: query
          description: Include info-level log events (default false).
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/TimelineEvent' }
        "401": { description: Unauthorized }

  # ── Incidents ──────────────────────────────────────────────────────────────

  /v1/incidents:
    get:
      summary: List open incidents
      description: |
        Returns open (and optionally resolved) incidents for the tenant, ordered
        by last_seen DESC. Incidents are opened by the alerter correlation engine
        and deduped by fingerprint (Module 13.2). Requires `logs:read` scope.
      tags: [Incidents]
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [open, resolved, all], default: open }
        - name: service
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  incidents:
                    type: array
                    items: { $ref: '#/components/schemas/Incident' }
        "401": { description: Unauthorized }

  # ── RCA ────────────────────────────────────────────────────────────────────

  /v1/rca:
    get:
      summary: Root-cause analysis — structural retrieval
      description: |
        Returns ranked root-cause candidates for a service or open incident
        (Module 11.1). Candidates are deploy-proximity (recent deploys near
        the incident) and dependency-proximity (downstream callees with errors).
        Each candidate carries an inspectable `evidence` object.
        Requires `logs:read` scope.
      tags: [RCA]
      parameters:
        - name: service
          in: query
          description: Service to investigate (mutually exclusive with `incident_id`).
          schema: { type: string }
        - name: incident_id
          in: query
          description: Open incident UUID (mutually exclusive with `service`).
          schema: { type: string, format: uuid }
        - name: since
          in: query
          description: Look-back window start (RFC 3339). Defaults to 1 hour ago.
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RCAResult' }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  # ── Dashboard overlays ─────────────────────────────────────────────────────

  /v1/overlays:
    get:
      summary: Correlation overlay markers for dashboards
      description: |
        Returns deploy/change markers (from ClickHouse) and incident windows
        (open + recently resolved, from Postgres) for a given time range and
        optional service filter. Used by panel-rendering clients to overlay
        events on time-series charts (Module 22.2). Requires `logs:read` scope.
      tags: [Dashboards]
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: service
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  markers:
                    type: array
                    items: { $ref: '#/components/schemas/OverlayMarker' }
        "401": { description: Unauthorized }

  # ── Shared dashboard (public) ──────────────────────────────────────────────

  /shared/dashboards/{token}:
    get:
      summary: Read a shared dashboard (public, no auth)
      description: |
        Returns the name and panel definitions of a shared dashboard identified
        by its stable share token. No API key required — seat-free embed/share
        (Module 22.3).
      security: []
      tags: [Dashboards]
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SharedDashboard' }
        "404": { description: Token not found or dashboard deleted }

  # ── Admin — API Keys ───────────────────────────────────────────────────────

  /v1/admin/api-keys:
    get:
      summary: List API keys for the tenant
      tags: [Admin — API Keys]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/APIKey' }
    post:
      summary: Create an API key
      tags: [Admin — API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name: { type: string }
                scopes:
                  type: array
                  items: { type: string }
      responses:
        "201":
          description: Created — includes full key value
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIKey' }

  /v1/admin/api-keys/{id}:
    delete:
      summary: Revoke an API key
      tags: [Admin — API Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Revoked }
        "404": { description: Not found }

  # ── Admin — Alert rules ────────────────────────────────────────────────────

  /v1/admin/alert-rules:
    get:
      summary: List alert rules
      tags: [Admin — Alerting]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items: { $ref: '#/components/schemas/AlertRule' }
    post:
      summary: Create an alert rule
      tags: [Admin — Alerting]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlertRule' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AlertRule' }

  /v1/admin/alert-rules/{id}:
    delete:
      summary: Delete an alert rule
      tags: [Admin — Alerting]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Deleted }
        "404": { description: Not found }

  # ── Admin — Retention ──────────────────────────────────────────────────────

  /v1/admin/retention:
    get:
      summary: Get retention configuration
      tags: [Admin — Retention]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RetentionConfig' }
    put:
      summary: Update retention configuration
      tags: [Admin — Retention]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RetentionConfig' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RetentionConfig' }

  # ── Admin — Transform ──────────────────────────────────────────────────────

  /v1/admin/transform:
    get:
      summary: Get the tenant remap transform program
      description: |
        Returns the currently active transform program, its version, and whether
        it is enabled. Returns `{"program": "", "version": 0, "enabled": false}`
        when no program has been set. Requires `logs:admin` scope.
      tags: [Admin — Transform]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TransformProgram' }
        "401": { description: Unauthorized }

    put:
      summary: Set the tenant remap transform program
      description: |
        Compiles and saves the program. An invalid program is rejected (HTTP 400)
        to prevent a bad program from silently dropping events. Bumps `version`
        atomically so the gateway picks up the new program without restart.
        Requires `logs:admin` scope.
      tags: [Admin — Transform]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TransformProgram' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok] }
                  version: { type: integer }
                  enabled: { type: boolean }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

  # ── Admin — Erasure (DPDP) ─────────────────────────────────────────────────

  /v1/admin/erasure:
    post:
      summary: Submit a DPDP data-erasure request
      description: |
        Fires `ALTER TABLE … DELETE` ClickHouse mutations (async) to erase
        records matching the supplied `user_linkage_key` and/or time range
        across the `logs`, `metrics`, and `traces` tables.
        Inserts an `erasure_requests` row with a JSON receipt of mutation IDs
        and affected-row estimates. Mutations are async — ClickHouse processes
        them in the background. Requires `logs:admin` scope.
      tags: [Admin — Erasure]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: At least one of `user_linkage_key` or `time_from`/`time_to` is required.
              properties:
                user_linkage_key:
                  type: string
                  description: Pseudonymous key linking records to a data subject (DPDP §7.1).
                time_from:
                  type: string
                  format: date-time
                time_to:
                  type: string
                  format: date-time
      responses:
        "202":
          description: Erasure accepted — mutations submitted to ClickHouse
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErasureRequest' }
        "400":
          description: Invalid request body or parameters
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401": { description: Unauthorized }

    get:
      summary: List prior erasure requests for the tenant
      description: Returns up to 100 requests ordered by requested_at DESC. Requires `logs:admin` scope.
      tags: [Admin — Erasure]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  requests:
                    type: array
                    items: { $ref: '#/components/schemas/ErasureRequest' }
        "401": { description: Unauthorized }

  # ── Admin — Dashboards ─────────────────────────────────────────────────────

  /v1/admin/dashboards:
    get:
      summary: List dashboards
      tags: [Admin — Dashboards]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboards:
                    type: array
                    items: { $ref: '#/components/schemas/Dashboard' }
    post:
      summary: Create a dashboard
      tags: [Admin — Dashboards]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Dashboard' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }

  /v1/admin/dashboards/{id}:
    get:
      summary: Get a dashboard
      tags: [Admin — Dashboards]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }
        "404": { description: Not found }
    put:
      summary: Update a dashboard (replaces panels)
      tags: [Admin — Dashboards]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Dashboard' }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }
    delete:
      summary: Delete a dashboard
      tags: [Admin — Dashboards]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Deleted }

  /v1/admin/dashboards/{id}/share:
    post:
      summary: Mint a public share token for a dashboard
      description: |
        Generates a stable random token stored on the dashboard row. Calling
        again returns the same token. The public URL is `/shared/dashboards/{token}`.
        Requires `logs:admin` scope.
      tags: [Admin — Dashboards]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  path: { type: string, example: /shared/dashboards/abc123def456 }
        "404": { description: Dashboard not found }

  # ── Admin — Saved Searches ─────────────────────────────────────────────────

  /v1/admin/saved-searches:
    get:
      summary: List saved searches
      tags: [Admin — Saved Searches]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  searches:
                    type: array
                    items: { $ref: '#/components/schemas/SavedSearch' }
    post:
      summary: Create a saved search
      tags: [Admin — Saved Searches]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SavedSearch' }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SavedSearch' }

  /v1/admin/saved-searches/{id}:
    delete:
      summary: Delete a saved search
      tags: [Admin — Saved Searches]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Deleted }

  # ── Admin — Audit ──────────────────────────────────────────────────────────

  /v1/admin/audit:
    get:
      summary: List audit log entries
      description: Tamper-evident audit trail of all query and admin operations. Requires `logs:admin` scope.
      tags: [Admin — Audit]
      parameters:
        - name: actor
          in: query
          schema: { type: string }
        - name: action
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEntry' }

  # ── Admin — DLQ ────────────────────────────────────────────────────────────

  /v1/admin/dlq:
    get:
      summary: List dead-letter queue events
      tags: [Admin — DLQ]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, replayed, dropped]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/DLQEvent' }
                  total:
                    type: integer
                    format: int64

  /v1/admin/dlq/{id}/replay:
    post:
      summary: Replay a DLQ event
      description: Re-publishes the raw payload to NATS for another write attempt.
      tags: [Admin — DLQ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  id: { type: string }
        "404": { description: Event not found or not pending }

  /v1/admin/dlq/{id}:
    delete:
      summary: Drop a DLQ event
      tags: [Admin — DLQ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Dropped }
        "404": { description: Not found }

  # ── Admin — Quota ──────────────────────────────────────────────────────────

  /v1/admin/quota/usage:
    get:
      summary: Get current billing-period quota usage
      description: Returns calendar-month event count and estimated bytes from ClickHouse.
      tags: [Admin — Quota]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QuotaUsage' }


# ── Tags ──────────────────────────────────────────────────────────────────────

tags:
  - name: Health
  - name: Ingest — Logs
    description: Log record ingestion (single, batch, OTLP, GELF, syslog).
  - name: Ingest — Metrics
    description: Metric ingestion (OTLP, Prometheus remote_write).
  - name: Ingest — Traces
    description: Distributed trace / span ingestion (OTLP).
  - name: Query
    description: LogQL++ queries, live-tail, NL-to-query.
  - name: PromQL
    description: Prometheus HTTP API compatible metric queries (Grafana compatible).
  - name: Changes
    description: Deploy and change-event ingestion and query.
  - name: Topology
    description: Service dependency graph and blast-radius analysis.
  - name: Timeline
    description: Unified cross-signal investigation timeline.
  - name: Incidents
    description: Correlation-first incident feed.
  - name: RCA
    description: Root-cause analysis — structural retrieval.
  - name: Dashboards
    description: Dashboard overlays and public sharing.
  - name: Admin — API Keys
  - name: Admin — Alerting
  - name: Admin — Retention
  - name: Admin — Transform
    description: VRL-inspired per-tenant remap/transform engine.
  - name: Admin — Erasure
    description: DPDP / GDPR data-subject erasure requests.
  - name: Admin — Dashboards
  - name: Admin — Saved Searches
  - name: Admin — Audit
  - name: Admin — DLQ
  - name: Admin — Quota
