openapi: 3.1.0

info:
  title: Qeet Logs API
  version: "1.0"
  description: |
    Privacy-first, multi-tenant structured log management platform.
    All endpoints (except /healthz, /readyz, /version) require authentication
    via `X-Qeet-Api-Key` header or a Bearer JWT issued by Qeet ID.
  contact:
    name: Qeet Group
    url: https://qeet.in
  license:
    name: Proprietary

servers:
  - url: https://api.logs.qeet.in
    description: Production
  - url: http://localhost:8100
    description: Local dev (query API)

security:
  - ApiKey: []
  - BearerJWT: []

components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-Qeet-Api-Key
      description: Tenant API key issued by the Qeet Logs console.
    BearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Qeet ID OIDC access token with `logs:admin` scope.

  schemas:
    LogRecord:
      type: object
      required: [service, body]
      properties:
        timestamp:
          type: string
          format: date-time
        service:
          type: string
        level:
          type: string
          enum: [debug, info, warn, error, fatal]
        trace_id:
          type: string
        body:
          type: string
        attributes:
          type: object
          additionalProperties: true

    LogEntry:
      allOf:
        - $ref: '#/components/schemas/LogRecord'
        - type: object
          properties:
            id:
              type: string
              format: uuid
            tenant_id:
              type: string
              format: uuid

    QueryResponse:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/LogEntry'
        total:
          type: integer
          format: int64
        has_more:
          type: boolean

    AlertRule:
      type: object
      required: [name, kind, query, threshold_count, window_minutes, channels]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        kind:
          type: string
          enum: [threshold, absence]
        query:
          type: string
          description: LogQL++ filter expression evaluated by the alerter.
        threshold_count:
          type: integer
          description: Fire if count exceeds (threshold) or equals 0 (absence) in the window.
        window_minutes:
          type: integer
        channels:
          type: array
          items:
            $ref: '#/components/schemas/AlertChannel'
        created_at:
          type: string
          format: date-time
          readOnly: true

    AlertChannel:
      type: object
      required: [type, target]
      properties:
        type:
          type: string
          enum: [webhook, notify]
        target:
          type: string
          description: URL for webhook; recipient address/phone for notify.

    RetentionConfig:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        retention_days:
          type: integer
          minimum: 1
          maximum: 365
        pii_mask_fields:
          type: object
          additionalProperties:
            type: string
            enum: [mask, hash, drop_field, drop_record]
        updated_at:
          type: string
          format: date-time
          readOnly: true

    APIKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        prefix:
          type: string
          description: First 8 chars of the key for display. Full key returned only on creation.
        key:
          type: string
          description: Present only in CreateAPIKey response. Store it; it cannot be retrieved again.
        created_at:
          type: string
          format: date-time

    Dashboard:
      type: object
      required: [name]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        panels:
          type: array
          items:
            $ref: '#/components/schemas/DashboardPanel'
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true

    DashboardPanel:
      type: object
      required: [id, kind, title, query]
      properties:
        id:
          type: string
        kind:
          type: string
          enum: [line, bar, table, stat]
        title:
          type: string
        query:
          type: string

    SavedSearch:
      type: object
      required: [name, query]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        tenant_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        query:
          type: string
        created_at:
          type: string
          format: date-time
          readOnly: true

    QuotaUsage:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        events:
          type: integer
          format: int64
        bytes_stored:
          type: integer
          format: int64
        retention_days:
          type: integer

    DLQEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        payload:
          type: object
        error_msg:
          type: string
        attempt:
          type: integer
        status:
          type: string
          enum: [pending, replayed, dropped]
        created_at:
          type: string
          format: date-time
        replayed_at:
          type: string
          format: date-time
          nullable: true

    AuditEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        actor:
          type: string
        action:
          type: string
        resource:
          type: string
        resource_id:
          type: string
        status:
          type: string
          enum: [ok, denied, error]
        ip:
          type: string
        user_agent:
          type: string
        created_at:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string

paths:
  /healthz:
    get:
      summary: Liveness probe
      security: []
      tags: [Health]
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }

  /readyz:
    get:
      summary: Readiness probe — checks Postgres, Redis, ClickHouse, NATS
      security: []
      tags: [Health]
      responses:
        "200":
          description: All dependencies reachable
        "503":
          description: One or more dependencies unavailable

  /version:
    get:
      summary: Binary version
      security: []
      tags: [Health]
      responses:
        "200":
          description: Version string
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string }

  /v1/ingest:
    post:
      summary: Ingest a batch of log records
      description: |
        Writes records to the NATS JetStream bus. The Rust writer fan-outs to
        ClickHouse and Redis live-tail. Requires `logs:ingest` scope.
      tags: [Ingest]
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [records]
              properties:
                records:
                  type: array
                  items:
                    $ref: '#/components/schemas/LogRecord'
      responses:
        "202":
          description: Accepted for async write
        "400":
          description: Invalid payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        "401":
          description: Missing or invalid API key

  /v1/query:
    get:
      summary: Query stored log records
      description: Requires `logs:read` scope.
      tags: [Query]
      parameters:
        - name: q
          in: query
          description: LogQL++ filter expression
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100, maximum: 1000 }
        - name: services
          in: query
          schema: { type: string }
        - name: level
          in: query
          schema: { type: string, enum: [debug, info, warn, error, fatal] }
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QueryResponse' }
        "401": { description: Unauthorized }

  /v1/query/tail:
    get:
      summary: Live-tail log stream (SSE)
      description: |
        Server-Sent Events stream of real-time log records from Redis pub/sub.
        Requires `logs:read` scope.
      tags: [Query]
      parameters:
        - name: service
          in: query
          required: true
          schema: { type: string }
        - name: level
          in: query
          schema: { type: string }
      responses:
        "200":
          description: SSE stream (text/event-stream)
          content:
            text/event-stream:
              schema:
                type: string

  /v1/auth-events:
    get:
      summary: Query Qeet ID auth events
      description: |
        Returns Qeet ID authentication events stored in ClickHouse.
        Requires `logs:read` scope.
      tags: [Query]
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
      responses:
        "200":
          description: Auth events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events: { type: array, items: { type: object } }
                  total: { type: integer, format: int64 }

  /v1/admin/api-keys:
    get:
      summary: List API keys for the tenant
      tags: [Admin — API Keys]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items: { $ref: '#/components/schemas/APIKey' }
    post:
      summary: Create an API key
      tags: [Admin — API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name: { type: string }
                scopes:
                  type: array
                  items: { type: string }
      responses:
        "201":
          description: Created — includes full key value
          content:
            application/json:
              schema: { $ref: '#/components/schemas/APIKey' }

  /v1/admin/api-keys/{id}:
    delete:
      summary: Revoke an API key
      tags: [Admin — API Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Revoked }
        "404": { description: Not found }

  /v1/admin/alert-rules:
    get:
      summary: List alert rules
      tags: [Admin — Alerting]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items: { $ref: '#/components/schemas/AlertRule' }
    post:
      summary: Create an alert rule
      tags: [Admin — Alerting]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlertRule' }
      responses:
        "201":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AlertRule' }

  /v1/admin/alert-rules/{id}:
    delete:
      summary: Delete an alert rule
      tags: [Admin — Alerting]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Deleted }
        "404": { description: Not found }

  /v1/admin/retention:
    get:
      summary: Get retention configuration
      tags: [Admin — Retention]
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RetentionConfig' }
    put:
      summary: Update retention configuration
      tags: [Admin — Retention]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RetentionConfig' }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RetentionConfig' }

  /v1/admin/audit:
    get:
      summary: List audit log entries
      tags: [Admin — Audit]
      parameters:
        - name: actor
          in: query
          schema: { type: string }
        - name: action
          in: query
          schema: { type: string }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEntry' }

  /v1/admin/dashboards:
    get:
      summary: List dashboards
      tags: [Admin — Dashboards]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboards:
                    type: array
                    items: { $ref: '#/components/schemas/Dashboard' }
    post:
      summary: Create a dashboard
      tags: [Admin — Dashboards]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Dashboard' }
      responses:
        "201":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }

  /v1/admin/dashboards/{id}:
    get:
      summary: Get a dashboard
      tags: [Admin — Dashboards]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }
        "404": { description: Not found }
    put:
      summary: Update a dashboard (replaces panels)
      tags: [Admin — Dashboards]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Dashboard' }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }
    delete:
      summary: Delete a dashboard
      tags: [Admin — Dashboards]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Deleted }

  /v1/admin/saved-searches:
    get:
      summary: List saved searches
      tags: [Admin — Saved Searches]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  searches:
                    type: array
                    items: { $ref: '#/components/schemas/SavedSearch' }
    post:
      summary: Create a saved search
      tags: [Admin — Saved Searches]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SavedSearch' }
      responses:
        "201":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SavedSearch' }

  /v1/admin/saved-searches/{id}:
    delete:
      summary: Delete a saved search
      tags: [Admin — Saved Searches]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Deleted }

  /v1/admin/dlq:
    get:
      summary: List dead-letter queue events
      tags: [Admin — DLQ]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, replayed, dropped]
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items: { $ref: '#/components/schemas/DLQEvent' }
                  total:
                    type: integer
                    format: int64

  /v1/admin/dlq/{id}/replay:
    post:
      summary: Replay a DLQ event
      description: Re-publishes the raw payload to NATS for another write attempt.
      tags: [Admin — DLQ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  id: { type: string }
        "404": { description: Event not found or not pending }

  /v1/admin/dlq/{id}:
    delete:
      summary: Drop a DLQ event (mark as dropped, won't retry)
      tags: [Admin — DLQ]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Dropped }
        "404": { description: Not found }

  /v1/admin/quota/usage:
    get:
      summary: Get current billing-period quota usage
      description: Returns calendar-month event count and bytes from ClickHouse.
      tags: [Admin — Quota]
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QuotaUsage' }

tags:
  - name: Health
  - name: Ingest
  - name: Query
  - name: Admin — API Keys
  - name: Admin — Alerting
  - name: Admin — Retention
  - name: Admin — Audit
  - name: Admin — Dashboards
  - name: Admin — Saved Searches
  - name: Admin — DLQ
  - name: Admin — Quota
